{% extends 'base.html' %}

{% block title %}
Empanelled Hospitals
{% endblock title %}

{% block body %}

<div class="container my-5">
    <!-- Heading -->
    <div class="bg-primary text-white text-center py-3 rounded shadow-sm">
        <h2>List of Empanelled Hospitals/Medical Organizations</h2>
    </div>
    
    <!-- Table -->
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover align-middle shadow-sm">
            <thead class="bg-primary text-white text-center">
                <tr>
                    <th>S. No.</th>
                    <th>Name of the Hospital</th>
                    <th>Location and Address</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-light">
                    <td class="text-center">1</td>
                    <td>Artemis Hospital, Gurugram</td>
                    <td>Sector-51, Gurugram – 122001, Haryana</td>
                    <td>Emergency: +91-124 4588 888<br>For Appointments: +91-124 4511 111</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td>Fortis Hospital, Shalimar Bagh</td>
                    <td>AA-299, Shaheed Udham Singh Marg, AA Block, Poorbi Shalimar Bagh, Shalimar Bagh, Delhi, 110088</td>
                    <td>011 4530 2222, 08045781371</td>

                </tr>
                <tr class="bg-light">
                    <td class="text-center">3</td>
                    <td>Shri Aggarsain Hospital, Rohini</td>
                    <td>Police Station, PSP Aman Vihar, CH Bhim Singh Nambardar Marg, Sector 22, Rohini, New Delhi, Delhi 110086</td>
                    <td>011-66636600, 011-45911911<br>Ambulance: 011-66636600, 011-45911911</td>

                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td>Sir Ganga Ram Hospital</td>
                    <td>Sir Ganga Ram Hospital Marg, Old Rajinder Nagar, New Rajinder Nagar, New Delhi, Delhi 110060</td>
                    <td>011-42254000</td>

                </tr>
                <tr class="bg-light">
                    <td class="text-center">5</td>
                    <td>Venkateshwar Hospital, Dwarka</td>
                    <td>Sector 12 Rd, Sector 18, Sector 18A Dwarka, Dwarka, New Delhi, Delhi 110075</td>
                    <td>011 4855 5555<br>Ambulance: +91-11-48-555-666</td>

                </tr>
                <tr>
                    <td class="text-center">6</td>
                    <td>Dr. Lal Path Lab</td>
                    <td>National Reference Laboratory, B7 Rd, Block E, Sector 18, Rohini, New Delhi, Delhi 110085</td>
                    <td>011 4984 7500</td>
                    
                </tr>
                <tr class="bg-light">
                    <td class="text-center">7</td>
                    <td>Must and More Health Care Pvt. Ltd. Rohini</td>
                    <td>West Metro Station, Kings Mall, Plot No. 1B1, 3rd Floor, Kings Mall, Bhagwan Mahavir Marg, near Rohini, Sector 10, Delhi 110085</td>
                    <td>011-6644-4444</td>

                </tr>
                <tr>
                    <td class="text-center">8</td>
                    <td>Clove Dental</td>
                    <td>First floor, Eldeco Centre, Malviya Nagar metro station, New Delhi 110017</td>
                    <td>North India: +919599734477,<br>South and West India: +918587856826</td>
                    
                </tr>
                <tr class="bg-light">
                    <td class="text-center">9</td>
                    <td>Center for Sight</td>
                    <td>All Delhi/NCR locations (List is attached)</td>
                    <td>For Appointments: 9810423972, 01142504250</td>
                </tr>
                <tr>
                    <td class="text-center">10</td>
                    <td>Saroj Super Specialty Hospital</td>
                    <td>Sector-14(Extn.)Industrial Area, Near Madhuban Chowk, Rohini, Delhi 110085</td>
                    <td>011 4944 4444</td>
                </tr>
                <tr class="bg-light">
                    <td class="text-center">11</td>
                    <td>Sardana Eye Institute</td>
                    <td>Rajouri Garden</td>
                    <td>9716101030</td>

                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td>Nishtha Speciality Hospital, Narela</td>
                    <td>Plot No. 22 near SHRC Hospital, Pocket-7, Sector A-10, Narela, Delhi 110040</td>
                    <td>9821623577</td>

                </tr>
                <tr class="bg-light">
                    <td class="text-center">13</td>
                    <td>Ayushman Hospital</td>
                    <td>Sector-10 Dwarka, New Delhi 110075</td>
                    <td>9971141488</td>

                </tr>
                <tr>
                    <td class="text-center">14</td>
                    <td>Shri Bhagwan Diagnostic & Imaging Centre Pvt. Ltd., Narela</td>
                    <td>2116, Bawana Road, Narela, Delhi 110040</td>
                    <td>9599593107</td>
                </tr>
                <tr class="bg-light">
                    <td class="text-center">15</td>
                    <td>Sushila Hospital, Narela</td>
                    <td>Gali No. 09, Gautam Colony, Safibad Road, Narela, New Delhi 110040</td>
                    <td>9811505961</td>
                </tr>
                <tr>
                    <td class="text-center">16</td>
                    <td>Hasija Hospital & Trauma Care Centre, Kundli</td>
                    <td>32 Milestone, G.T. Karnal Road, Kundli, Sonipat, Haryana 131028</td>
                    <td>9416536804, 9812032202</td>

                </tr>
                <tr class="bg-light">
                    <td class="text-center">17</td>
                    <td>Tulip Multispeciality Hospital, Sonipat</td>
                    <td>Near Vivekanand Chowk, Delhi Road, Sonipat 131001, Haryana</td>
                    <td>7404321021</td>

                </tr>
                <tr>
                    <td class="text-center">18</td>
                    <td>Khanna Medicare Centre (Eye Hospital)</td>
                    <td>W-6, Main Patel Road, West Patel Nagar, Shadipur Metro Station, Pillar No. 234, New Delhi 110008</td>
                    <td>9811087151, 9911087151</td>
                    
                </tr>
                <tr class="bg-light">
                    <td class="text-center">19</td>
                    <td>Khanna Eye Centre, Model Town</td>
                    <td>A-2/2, Model Town-1st, New Delhi 110009</td>
                    <td>9810067048</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}